{{ template "main" . }} {{ define "body" }}
<div class="container-fluid border shadow rounded">
    <div class="row">
        <div class="col-sm delimitation" style="height: 1%;">
            <div id="parallax">
                <h1></h1>
            </div>
            <script>
                (function() {
                    // Add event listener
                    document.addEventListener("mousemove", parallax);
                    const elem = document.querySelector("#parallax");
                    // Magic happens here
                    function parallax(e) {
                        let _w = window.innerWidth / 2;
                        let _h = window.innerHeight / 2;
                        let _mouseX = e.clientX;
                        let _mouseY = e.clientY;
                        let _depth1 = `${50 - (_mouseX - _w) * 0.005}% ${50 - (_mouseY - _h) * 0.01}%`;
                        let _depth2 = `${50 - (_mouseX - _w) * 0.01}% ${50 - (_mouseY - _h) * 0.02}%`;
                        let _depth3 = `${50 - (_mouseX - _w) * 0.02}% ${50 - (_mouseY - _h) * 0.03}%`;
                        let x = `${_depth3}, ${_depth2}, ${_depth1}`;
                        console.log(x);
                        elem.style.backgroundPosition = x;
                    }

                })();
            </script>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row g-2">
        <div class="col">
            <div class="bg-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">content post</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="bg-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">content post</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="bg-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">content post</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 mt-2">
        <div class="col">
            <div class="bg-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/home" class="text-decoration-none text-reset">Special title treatment</a></h5>
                        <p class="card-text">content post</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="bg-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">content post</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="bg-light">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">content post</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-sm-3 border">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">content post</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 border">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">content post</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 border">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">content post</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
{{end}}