{{ template "main" . }} {{ define "body" }}
<form method="POST" class="needs-validation" novalidate>
<div class="border border-secondary container rounded-3 pl-2 pr-2 pb-2 mt-5">
    <!-- CATEGORIE -->
    <div class="dropdown">
    <i class="fas fa-ellipsis-v mt-1 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right; margin-left: 10px;"></i>
      {{ if .Post_Info.Deletable }}
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Modifier le post</a>
        <a class="dropdown-item" style="color:red" href="#">Supprimer le post</a>
      </div>
      {{ end }}
    </div>
    
    <p style="float:right">{{ .Post_Info.Post_User_Info.UserName }}</p>
    <img src="{{ .Post_Info.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:25px;width:25px;">
    <p style="float:right"> <input name="Liker" type="checkbox" id="checkbox" {{ .Currently_Post_Like }} onchange="submit()" />
      <label for="checkbox">
        
        <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
          <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
            <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
            <circle id="main-circ" fill="#E2264D" opacity="0" cx="20.5" cy="20.5" r="1.5"/>

            <g id="grp7" opacity="0" transform="translate(7 6)">
              <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
              <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
            </g>

            <g id="grp6" opacity="0" transform="translate(0 28)">
              <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
              <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
            </g>

            <g id="grp3" opacity="0" transform="translate(52 28)">
              <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
              <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
            </g>

            <g id="grp2" opacity="0" transform="translate(44 6)">
              <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
              <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
            </g>

            <g id="grp5" opacity="0" transform="translate(14 50)">
              <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
              <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
            </g>

            <g id="grp4" opacity="0" transform="translate(35 50)">
              <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
              <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
            </g>

            <g id="grp1" opacity="0" transform="translate(24)">
              <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
              <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
            </g>
          </g>
        </svg>
      </label> {{ .Post_Info.Likes}} | </p>
    <h1>{{ .Post_Info.Title }}
        <h6>
            {{ range $cat := .Post_Info.Categories}}
              <span class="badge rounded-pill" style="background-color:{{ $cat.Color }};">{{ $cat.Cat }}</span>
            {{ end }}
        </h6>
    </h1>
    <div class="row">
        {{ if .Post_Info.Image }}
        <div class="col-6 mt-3">
            <span>{{ .Post_Info.Body }}</span>
        </div>
        <div class="col-6">
            <img src="{{ .Post_Info.Image }}" style="max-width: 100%;height: auto;">
        </div>
        {{ else }}
        <div class="col-9 mt-3">
            <span>{{ .Post_Info.Body }}</span>
        </div>{{ end }}
    </div>
</div>
<br>
    <div class="container">
        <input type="text" name="comment" placeholder="Commentaire.." style="width: 89%;height:40px;border-radius: 10px;" required> 
          <button class="btn btn-outline-secondary">
            <i class="fas fa-paper-plane">
            </i>
            Commenter
          </button>
        </input>
    </div>
</form>
<br>
<div class="container">
    {{ range $comment:= .Post_Info.All_Comments }}
    <div class="row">
        <div class="border rounded-3 col mt-1">
            <div class="text mt-3">
                <h6 class="float-start">{{ $comment.Body }}</h6>
                <p class="float-end"> {{ $comment.User_Info.UserName}} </p>
                <img src="{{ $comment.User_Info.Image}}" style="float:right;border-radius: 100%;height:25px;width:25px;">
            </div>
        </div>
    </div>
    {{ end }}
</div>
<script>
    {{/* (function() {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation:not(.passwd)')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })() */}}
</script>
{{ end }}