{{ template "main" . }} {{ define "body" }}
<div class="card" style="width: 18rem;">
    <!--image de l'utilisateur a insérer en haut du post ?-->
    <div class="card-body">
        <h5 class="card-title">Titre du Post</h5>
        <p class="card-text">Contenu du post.</p>
        <a href="#" class="btn btn-success btn-sm">Like</a>
        <figcaption class="blockquote-footer">
            Powered by <cite title="Source Title">Golang</cite>
        </figcaption>
        </figure>
    </div>
</div>
{{end}}

<!--<div class="input-group">
  <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
</div>

C'est pour importer un fichier (photo de profil ou post avec photo)-->