{{ template "main" . }} {{ define "body" }}
<br><br><br>
<div class="container" style="border: 1px solid orange;padding-left:2%;padding-right:2%;padding-bottom:2%; color:red">
    <!-- CATEGORIE -->
    <p style="float:right"> Photo de profil de Jean-Jacques </p>
    <p style="float:right"> ❤️ 6k | </p>
    <h1>Titre du Post | catégorie comme sur image</h1>
    <div class="row border">
        <div class="col-6 border">
            Text du post
        </div>
        <div class="col-6 border">
            <img src="https://media.discordapp.net/attachments/809777107039289344/809800105007644702/unknown.png" style="width: max-content;height: max-content;">
        </div>
    </div>
</div>
{{ end }}